{% extends 'base.html' %}
{% block content %}
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Preloader start -->
<div id="preloader">
    <div class="main-wrap">
        <div class="ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- Preloader end -->

<!-- Component starts
************************* -->
<!-- header area start -->
<header class="header-area hidden-menu-bar" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <a href="#"><h2>Sinh. <span>nt</span></h2></a>
                </div>
            </div>
            <div class="col-sm-9 text-right">
                <!-- mainmenu start -->
                <div class="mainmenu">
                    <ul>
                        <li><a href="">Home</a>
                            <!-- sub menu start -->
                            <ul>
                                <li><a href="#service" class="smooth">What i do</a></li>
                                <li><a href="#portfolio" class="smooth">See my work</a></li>
                                <li><a href="#contact" class="smooth">Contact me</a></li>
                            </ul>
                        </li>
                        <li><a href="/portfolio">portfolio</a></li>
                        <li><a href="/contact">contact</a></li>
                    </ul>
                </div>
                <!-- mainmenu end -->
                <!-- mobile menu area start -->
                <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- mobile menu start -->
                                <div class="mobile-menu">
                                    <nav>
                                        <ul class="nav">
                                            <li><a href="#">Home</a>
                                                <ul>
                                                    <li><a href="#service" class="smooth">What i do</a></li>
                                                    <li><a href="#portfolio" class="smooth">See my work</a></li>
                                                    <li><a href="#contact" class="smooth">Contact me</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/portfolio">portfolio</a></li>
                                            <li><a href="/contact">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- mobile menu end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile menu area end -->
            </div>
        </div>
    </div>
</header>
<!-- header area end -->
<!-- hero wrapper start -->
<div class="hero-wrapper">
    <!-- hero-area start -->
    <div class="hero-area hero-bg-homepage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-hero-item">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h3>Hi,</h3>
                                <h1>I'm Sinh Nguyen</h1>
                                <h2 class="cd-headline clip">
                                    <span>Experienced in</span>
                                    <span class="cd-words-wrapper waiting">
                                                <b class="is-visible">Backend Development</b>
                                                <b>Frontend Development</b>
                                                <b>Mobile Development</b>
                                            </span>
                                </h2>
                                <a href="#portfolio" class="bordered-btn smooth">see my works</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#service" class="scroll-next smooth"><i class="flaticon-down-arrow"></i></a>
    </div>
    <!-- hero-area end -->
</div>
<!-- hero wrapper end -->

<!-- content wrapper start -->
<div class="content-wrapper">
    <!-- service area start -->
    <div class="section-padding" id="service">
        <div class="container">
            <!-- section title start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>what i <span>do</span></h2>
                    </div>
                </div>
            </div>
            <!-- section title end -->
            <!-- service items start -->
            <div class="service-items service-style-1">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-layers"></i>
                            <h4>IDE & TOOLS</h4>
                            <p>Experienced in PyCharm, Web Storm, IntelliJ, Android Studio, Eclipse, Visual Code,
                                Atom</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-computer"></i>
                            <h4>web development</h4>
                            <p>Development work in Python, ASP.NET core, Reactjs, Vuejs, Nginx</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-responsive-design-for-variety-of-screens-formats"></i>
                            <h4>Mobile Development</h4>
                            <p>Development work in Java, React Native</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-internet-explorer"></i>
                            <h4>Database</h4>
                            <p>Experienced in PostgreSQL, MySQL, SQL server, SQLite, MongoDB, Firebase</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-application-1"></i>
                            <h4>VCS / DVCS</h4>
                            <p>Skilled at GitHub | Bitbucket, SVN</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-item text-center">
                            <i class="flaticon-technology"></i>
                            <h4>Framework</h4>
                            <p>Working through Django, Flask, REST Api, Vuetifyjs, React Native projects</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- service items end -->
        </div>
    </div>
    <!-- service area end -->

    <!-- portfolio area start -->
    <div class="section-padding bg-grey" id="portfolio">
        <div class="container">
            <!-- section title start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>see my <span>works</span></h2>
                    </div>
                </div>
            </div>
            <!-- section title end -->

            <!-- project filter end -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="project-filter text-center">
                        <li class="active" data-filter="*">all</li>
                        <li data-filter=".design">design</li>
                        <li data-filter=".development">development</li>
                        <li data-filter=".photography">photography</li>
                        <li data-filter=".branding">branding</li>
                    </ul>
                </div>
            </div>
            <!-- project filter end -->

            <!-- all project lists start -->
            <div class="row project-lists">
                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 design branding photography">
                    <div class="single-project-item project-bg-1">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/1.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, branding, photography</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 photography development">
                    <div class="single-project-item large project-bg-13">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/13.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>photography, development</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 branding design photography">
                    <div class="single-project-item project-bg-3">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/3.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, branding, photography</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 branding development">
                    <div class="single-project-item project-bg-4">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/4.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>development, branding</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 branding design development">
                    <div class="single-project-item large project-bg-14">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/5.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, branding, development</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 design photography">
                    <div class="single-project-item project-bg-6">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/6.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, photography</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 photography development">
                    <div class="single-project-item large project-bg-15">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/7.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>development, photography</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 development design">
                    <div class="single-project-item project-bg-8">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/8.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, development</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->

                <!-- single project start -->
                <div class="col-md-4 col-sm-6 col-xs-12 photography design development">
                    <div class="single-project-item project-bg-9">
                        <div class="project-hover">
                            <div class="project-buttons">
                                <a href="#"><i class="flaticon-like"></i></a>
                                <a href="/static/img/portfolio/9.jpg" class="image-popup"><i
                                        class="flaticon-expand"></i></a>
                                <a href="/work_detail/test"><i class="flaticon-broken-link"></i></a>
                            </div>
                            <h3><a href="work-details.html">here goes projcet title</a></h3>
                            <p>design, development, photography</p>
                        </div>
                    </div>
                </div>
                <!-- single project end -->
            </div>
            <!-- all project lists end -->

            <!-- see more button start -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="" class="bordered-btn see-all-btn">see more <i class="flaticon-next"></i></a>
                </div>
            </div>
            <!-- see more button end -->
        </div>
    </div>
    <!-- portfolio area end -->

    <!-- contact us area start -->
    <div class="section-padding" id="contact">
        <div class="container">
            <!-- section title start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading text-center">
                        <h2>contact <span>me</span></h2>
                    </div>
                </div>
            </div>
            <!-- section title end -->

            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <div class="section-heading-small">
                        <h4>find me</h4>
                    </div>
                    <ul class="find-info">
                        <li>
                            <i class="flaticon-placeholder"></i>
                            335/12 Nguyen Thai Son street, Ho Chi Minh city, Viet Nam<br>
                        </li>
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <a href="tel:123456789">+84-1672699288</a>
                            <a href="tel:983254435">+84-983254435</a>
                        </li>
                        <li>
                            <i class="flaticon-mail"></i>
                            <a href="mailto:nguyentrisinh0810@gmail.com">nguyentrisinh0810@gmail.com</a>
                            <a href="mailto:14520764@gm.uit.edu.vn">14520764@gm.uit.edu.vn</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-7">
                    <div class="contact-form xs-mt-30">
                        <form id="contact-form" action="mail.php" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" placeholder="name" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="tel" name="phone" placeholder="Phone number" required>
                                </div>
                            </div>
                            <input type="email" name="email" placeholder="your email" required>
                            <input type="text" name="subject" placeholder="subject" required>
                            <textarea name="message" id="message" placeholder="message" required></textarea>
                            <button type="submit">send message</button>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us area end -->

    <!-- footer area start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="copyright-text">Copyright 2017 &copy; <a href="http://www.themeforest.net/user/royhridoy"
                                                                       target="_blank">RoyHridoy</a> ALL Right Reserved
                    </p>
                    <ul class="footer-social">
                        <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-twitter-logo-outline"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-google-plus-logo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-themeforest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-dribble-logo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
</div>
<!-- content wrapper end -->

<!-- scroll to top button start -->
<a href="#" class="scrollToTop"><i class="flaticon-arrows"></i></a>

{% endblock %}