{% extends 'base.html' %}
{% block content %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area-portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content text-center">
                            <h2>Sinh Nguyen's Portfolio</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    		<div class="section-padding bg-grey" id="portfolio">
    			<div class="container">
    				<!-- section title start -->
    				<div class="row">
    					<div class="col-md-12">
    						<!--<div class="section-heading text-center">-->
    							<!--<h2>Sinh Nguyen <span>Profolio</span></h2>-->
    						<!--</div>-->
    					</div>
    				</div>

                    {% for project in projects %}

                    <section class="portfolio-details pb-40 mt-40">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="portfolio-meta">
                                        <ul>
                                            <li class="row">
                                                <div class="col-md-5 no-padding-right">
                                                    <i class="fa fa-building"></i>
                                                    <span>Client</span>
                                                </div>
                                                <div class="col-md-7 no-padding-left">
                                                    {{ project.client }}
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-5 no-padding-right">
                                                    <i class="fa fa-user"></i>
                                                    <span>Role</span>
                                                </div>
                                                <div class="col-md-7 no-padding-left">
                                                    {{ project.role }}
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-5 no-padding-right">
                                                    <i class="fa fa-coffee"></i>
                                                    <span>Skills</span>
                                                </div>
                                                <div class="col-md-7 no-padding-left">
                                                    {{ project.skills }}
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-5 no-padding-right">
                                                    <i class="fa fa-calendar"></i>
                                                    <span>Length</span>
                                                </div>
                                                <div class="col-md-7 no-padding-left">
                                                    {{ project.length }}
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-5 no-padding-right">
                                                    <i class="fa fa-link"></i>
                                                    <span>Category</span>
                                                </div>
                                                <div class="col-md-7 no-padding-left">
                                                    {% for category in project.categories %}
                                                    {% if category.type == 1 %}
                                                    <i class="fa fa-mobile category-icon-site-16"></i>
                                                    {% elif category.type == 2 %}
                                                    <i class="fa fa-globe category-icon-site-16"></i>
                                                    {% elif category.type == 3 %}
                                                    <i class="fa fa-desktop category-icon-site-16"></i>
                                                    {% elif category.type == 4 %}
                                                    <i class="fa fa-linux category-icon-site-16"></i>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="project-desc">
                                        <h3>
                                            <a href="/project_detail/?slug={{project.slug}}">{{ project.title }}</a>
                                            {% if project.links != None %}
                                            <ul class="horizontal float-right">
                                                {% for link in project.links %}

                                                <li>
                                                    <a href="{{ link.url }}" target="_blank">
                                                    {% if link.platform == 1 %}
                                                    <i class="fa fa-apple"></i>
                                                     {% elif link.platform == 2 %}
                                                    <i class="fa fa-android"></i>
                                                    {% elif link.platform == 3 %}
                                                    <i class="fa fa-globe"></i>
                                                    {% elif link.platform == 4 %}
                                                    <i class="fa fa-windows"></i>
                                                    {% endif %}
                                                    </a>
                                                </li>

                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </h3>
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    {% endfor %}
				</div>
			</div>

		<!-- portfolio area end -->

		<!-- footer area start -->
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p class="copyright-text">Copyright 2017 &copy; <a href="/">Sinh Nguyen</a> ALL Right Reserved </p>
						<ul class="footer-social">
							<li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-twitter-logo-outline"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-google-plus-logo"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-themeforest"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-dribble-logo"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer area end -->

        <!-- scroll to top button start -->
        <a href="#" class="scrollToTop"><i class="flaticon-arrows"></i></a>
        <!-- scroll to top button end -->

{% endblock %}
