{% extends 'base.html' %}
{% block content %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area-portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content text-center">
                            <h2>Sinh Nguyen's Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="section-padding bg-grey" id="about">
                <div class="container-fluid">
                    <!-- section title start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading text-center">
                                <h2>about <span>me</span></h2>
                            </div>
                        </div>
                    </div>
                    <!-- section title end -->

                    <div class="row">
                        <div class="col-md-6">
                            <!-- section title small start -->
                            <div class="section-heading-small">
                                <h4>my story</h4>
                            </div>
                            <!-- section title small end -->

                            <!-- my story content start -->
                            <div class="about-content">
                                <p>Hello, my name is Hridoy roy and I have an BSc in Computer Science and Engineering and have more than 4 years of experience in the field of Web Design, UI/UX Design , Web development and efficiently coding websites and applications using modern HTML, CSS, JavaScript and JQuery.</p>
                                <!-- about buttons start -->
                                <div class="about-buttons">
                                    <a href="#" class="bordered-btn">download cv <i class="flaticon-download"></i></a>
                                    <a href="#contact" class="filled-btn smooth">hire me <i class="flaticon-mail"></i></a>
                                </div>
                                <!-- about buttons end -->
                            </div>
                            <!-- my story content end -->
                        </div>
                        <div class="col-md-6">
                            <!-- section title small start -->
                            <div class="section-heading-small">
                                <h4>my skills</h4>
                            </div>
                            <!-- section title small end -->

                            <!-- skill start -->
                            <div class="skill">
                                <!-- progress start -->
                                <div class="progress">
                                    <div class="title">html</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1s" data-wow-delay=".5s"> <span class=" wow fadeInLeft white--text" data-wow-delay="1.5s">95%</span></div>
                                </div>
                                <!-- progress end -->

                                <!-- progress start -->
                                <div class="progress">
                                    <div class="title">css</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1s" data-wow-delay=".5s"><span class="wow fadeInLeft white--text" data-wow-delay="1.5s">90%</span> </div>
                                </div>
                                <!-- progress end -->

                                <!-- progress start -->
                                <div class="progress">
                                    <div class="title">javascript</div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1s" data-wow-delay=".5s"><span class=" wow fadeInLeft white--text" data-wow-delay="1.5s">70%</span> </div>
                                </div>
                                <!-- progress end -->
                            </div>
                            <!-- skill end -->
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer-area">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12 text-center">
    						<p class="copyright-text">Copyright 2017 &copy; <a href="http://www.themeforest.net/user/royhridoy" target="_blank">RoyHridoy</a> ALL Right Reserved </p>
    						<ul class="footer-social">
    							<li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
    							<li><a href="#" target="_blank"><i class="flaticon-twitter-logo-outline"></i></a></li>
    							<li><a href="#" target="_blank"><i class="flaticon-google-plus-logo"></i></a></li>
    							<li><a href="#" target="_blank"><i class="flaticon-themeforest"></i></a></li>
    							<li><a href="#" target="_blank"><i class="flaticon-dribble-logo"></i></a></li>
    							<li><a href="#" target="_blank"><i class="flaticon-behance"></i></a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</footer>

        </div>

{% endblock %}