{% extends 'base.html' %}
{% block content %}
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-content text-center">
                            <h2>portfolio details 8</h2>
                            <ul class="breadcrumb">
                                <li><a href="index.html">home</a></li>
                                <li> <a href="portfolio-masonry-1.html"> portfolio</a></li>
                                <li>portfolio details 8</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->

		<!-- portfolio details start -->
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio-details-items">
                            <!-- portfolio details info start -->
                            <div class="portfolio-details-info top">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- short description start -->
                                        <div class="short-description">
                                            <h4>category: <span>{{ content }}</span></h4>
                                            <h4>publish date: <span>12 Aug 2017</span></h4>
                                            <h4>live link: <span><a href="#" target="_blank">www.website.com</a></span></h4>
                                            <h4>client name: <span>lous doe</span></h4>
                                        </div>
                                        <!-- short description end -->
                                    </div>
                                    <div class="col-md-8">
                                        <!-- description start -->
                                        <div class="description">
                                            <h3>here goes project title</h3>
                                            <h4>subtile of the project</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quidem eligendi provident, harum cupiditate quam. Animi ab delectus nostrum, consectetur aliquid dolorum vel at sit quos nisi itaque ullam tempore ea, optio repudiandae earum cum!</p>
                                            <p>Lorem ipsum dolor sit amet, conse ctetur adipis icing elit. Tempora sed, explicabo est eligendi? Quaerat, quis, laborum. Consectetur voluptate at tempore. conse ctetur adipis icing elit.</p>
                                        </div>
                                        <!-- description end -->
                                    </div>
                                </div>
                            </div>
                            <!-- portfolio details info end -->

                            <!-- item imgs start -->
                            <div class="portfolio-multiple-img">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="item-img">
                                            <img src="/static/img/portfolio/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="item-img">
                                            <img src="/static/img/portfolio/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="item-img">
                                            <img src="/static/img/portfolio/3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- item imgs end -->
                            <!-- pager start -->
                            <ul class="pager">
                                <li class="previous"><a href="#" class="filled-btn"><i class="flaticon-back"></i> previous project</a></li>
                                <li class="next"><a href="#" class="filled-btn">next project <i class="flaticon-next"></i></a></li>
                            </ul>
                            <!-- pager end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- portfolio details end -->

        <!-- related slider area start -->
        <div class="section-padding related-slider">
            <div class="container">
                <!-- section title start -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading text-center">
                            <h2>related <span>works</span></h2>
                        </div>
                    </div>
                </div>
                <!-- section title end -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="related-items">
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/1.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/2.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/3.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/4.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/5.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                            <a href="work-details.html" class="single-related-item">
                                <img src="/static/img/portfolio/6.jpg" alt="">
                                <span class="project-title">here goes project title</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- related slider area end -->

		<!-- footer area start -->
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<p class="copyright-text">Copyright 2017 &copy; <a href="http://www.themeforest.net/user/royhridoy" target="_blank">RoyHridoy</a> ALL Right Reserved </p>
						<ul class="footer-social">
							<li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-twitter-logo-outline"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-google-plus-logo"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-themeforest"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-dribble-logo"></i></a></li>
							<li><a href="#" target="_blank"><i class="flaticon-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer area end -->

        <!-- scroll to top button start -->
        <a href="#" class="scrollToTop"><i class="flaticon-arrows"></i></a>
        <!-- scroll to top button end -->
{% endblock %}
